div {
    height:300px;
    width:300px;
    display: inline-block;
}

/* Colors specified can be in RGB or Hex, but not by name */
#hover {
    background-image: -webkit-radial-gradient(50% 50%, cover, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 75%);
    background-image:    -moz-radial-gradient(50% 50%, cover, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 75%);
}

#radial {
    background-image: -webkit-radial-gradient(50% 50%, cover, rgb(0, 255, 0) 0%, rgb(0, 0, 255) 75%);
    background-image:    -moz-radial-gradient(50% 50%, cover, rgb(0, 255, 0) 0%, rgb(0, 0, 255) 75%);
}

#linear {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 255, 0)), to(rgb(0, 0, 255))); 
    background-image: -webkit-linear-gradient(top, rgb(0, 255, 0), rgb(0, 0, 255)); 
    background-image:    -moz-linear-gradient(top, rgb(0, 255, 0), rgb(0, 0, 255)); 
    background-image:     -ms-linear-gradient(top, rgb(0, 255, 0), rgb(0, 0, 255)); 
    background-image:      -o-linear-gradient(top, rgb(0, 255, 0), rgb(0, 0, 255)); 
    background-image:         linear-gradient(top, rgb(0, 255, 0), rgb(0, 0, 255));
}

#colorName {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 255, 0)), to(rgb(0, 0, 255))); 
    background-image: -webkit-linear-gradient(top, #00FF00, #0000FF); 
    background-image:    -moz-linear-gradient(top, #00FF00, #0000FF);
    background-image:     -ms-linear-gradient(top, #00FF00, #0000FF); 
    background-image:      -o-linear-gradient(top, #00FF00, #0000FF); 
    background-image:         linear-gradient(top, #00FF00, #0000FF); 
}
